name: Allure Report Workflow

on:
  pull_request:
  push:
    branches:
      - master
      - rerun
      - feature/test-allure-report
  workflow_dispatch:    
  

permissions:
  contents: write
  pull-requests: write
  statuses: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install Poetry and dependencies
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          poetry add pytest-rerunfailures
          poetry install --no-root

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$(pwd)/App" >> $GITHUB_ENV    

      - name: Run tests scripts directly
        run: |
          poetry run pytest QAAppAllure.py -n auto -s -v --reruns 5 --alluredir=allure-results

      - name: Get Allure history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages


      - name: Allure Report Action form marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        continue-on-error: true
        id: allure-report
        with:
          allure_results: allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Generate index.html for historical reports
        if: always()
        run: |
          REPORT_DIR="allure-history"
          INDEX_FILE="$REPORT_DIR/index.html"
          mkdir -p $REPORT_DIR
          echo "<html><head><title>Allure Reports</title></head><body><h1>Allure Reports</h1><ul>" > $INDEX_FILE
          for dir in $(ls -d $REPORT_DIR/*/ | sort -r); do
            TIMESTAMP=$(basename $dir)
            echo "<li><a href='$TIMESTAMP/index.html'>$TIMESTAMP</a></li>" >> $INDEX_FILE
          done
          echo "</ul></body></html>" >> $INDEX_FILE      

      - name: Deploy report to Github Pages
        if: always()
        continue-on-error: true
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history

      - name: Post the link to the report
        if: always()
        uses: Sibz/github-status-action@v1
        with: 
            authToken: ${{ secrets.GITHUB_TOKEN }}
            context: 'Test report'
            state: 'success'
            sha: ${{ github.sha }}
            target_url: https://luisgspu.github.io/QA-Perso/${{ github.run_number }}/index.html